@use "../abstracts/abstracts" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  background-color: $very-dark-blue;
  font-size: 15px;
  color: $neutral-white;
}
